<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.egovframesample.mapper.TodoMapper">
    <select id="findAll" resultType="com.example.egovframesample.vo.TodoVo">
        SELECT id, title, description, is_done, created_at
        FROM todo
        ORDER BY created_at DESC
    </select>

    <select id="findById" resultType="com.example.egovframesample.vo.TodoVo">
        SELECT id, title, description, is_done, created_at
        FROM todo
        WHERE id = #{id}
    </select>

    <insert id="saveTodo" parameterType="com.example.egovframesample.vo.TodoVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo (title, description, is_done)
        VALUES (#{title}, #{description}, #{is_done})
    </insert>

    <update id="updateToDoById" parameterType="com.example.egovframesample.vo.TodoVo">
        UPDATE todo
        SET title = #{title},
            description = #{description},
            is_done = true
        WHERE id = #{id}
    </update>

<!--    <update id="updateTitleById" parameterType="com.example.egovframesample.vo.TodoVo">-->
<!--        UPDATE todo-->
<!--        SET title = #{title},-->
<!--        is_done = true-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <update id="updateDescriptionById" parameterType="com.example.egovframesample.vo.TodoVo">-->
<!--        UPDATE todo-->
<!--        SET description = #{description},-->
<!--        is_done = true-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <delete id="deleteById" parameterType="long">
        DELETE FROM todo
        WHERE id = #{id}
    </delete>

</mapper>
